.irrigated checkbox{
  display: inline;
}

.lot-form--new {
  width: 100%;
  padding: 60px 50px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #45a049;
}


