nav {
  list-style-type: none
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.2rem 3.5rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #FFFFFF;
}

.nav-bar--dropdown {
  display: flex;
  color: #D81159;
}

.navbar--link {
  display: flex;
  list-style: none;
}

.navbar--link-item {
  margin: 0.4rem 1rem 0 0;
  padding: 0 0.3rem;
  cursor: pointer;
}

.navbar--logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar--logo {
  height: 3rem;
  margin-right: 0.5rem;
  /* animation: rotate 0.7s ease-in-out 0.5s; */
}